.auth__form {
    padding: 15px;
    border-radius: 5px;   
}
.frm{
    background-color: var(--primary-color);
    padding: 10px;
    box-shadow: #ddd;
}

.auth__btn {
    background: rgb(246, 246, 247) !important;
    color: #f83f3f;
    font-weight: 600;
}

.auth__form p {
    margin-top: 30px;
}

.auth__form p a {
    color: rgba(255, 255, 255, 0.979);
}

.auth__form input[type='file'] {
    color: #fff;
    cursor: pointer ;
}

.auth__form .error-message{
    color: red;
}